:root {
    --accent-color: #fed136;
    --main-color: #222222;
    --add-color: #777777;
  }
  body {
    font-family: Montserrat;
  }
  h1,
  h2,
  h3,
  h4,
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .list {
    list-style: none;
    padding: 0;
  }
  .link {
    text-decoration: none;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .container {
      width: 972px;
      margin: 0 auto;
      padding: 0 15px;
  }
  .header .container{
    padding-top: 44px;
    display: flex;
    align-items: center;
  }
  .logo {
    color: var(--accent-color);
    font-family: Bilbo Swash Caps;
    font-size: 36px;
    line-height: 1.13;
    letter-spacing: 1.3px;
  }
  .nav{
  margin-left: auto;
  }
  .nav-list{
    display: flex;
    gap: 10px;
  }
  .nav-link {
    color: var(--accent-color);
    font-size: 14px;
    line-height: 1.92x;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
  }
  .nav-link:hover, 
  .nav-link:focus {
    font-weight: 700;
  }
  .services {
    padding-top: 110px;
    padding-bottom: 118px;
  }
  .services-title {
    color: var(--main-color);
    text-align: center;
    font-size: 40px;
    line-height: 1.87;
    letter-spacing: -1px;
    text-transform: uppercase;
  }
  .services-list{
    display: flex;
    gap: 56px;
    justify-content: center;
  }
  .services-item {
    color: var(--main-color);
    text-align: center;
    font-size: 18px;
    line-height: 4.16;
    letter-spacing: -0.45px;
  }
  .services-item::before {
    content: '';
    display: block;
    width: 70px;
    height: 69px;
    border: 3px solid var(--accent-color);
    border-radius: 50%;
    margin: 0 auto;
    background-image: url(../images/servises_svg\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 38 38;
  } 
  .services-item:nth-child(2)::before{
    background-image: url(../images/servises_svg\ 2.svg)
  }
  .services-item:nth-child(3)::before{
    background-image: url(../images/servises_svg\ 3.svg)
  }
  .services-item-text {
    color: #777;
    font-family: RobotoSlab;
    font-size: 14px;
    line-height: normal;
    letter-spacing: -0.35px;
  }
  .contact-us {
      background-color: var(--main-color);
      padding-top: 92px;
      padding-bottom: 115px;
  }
  .contact-us-title {
      margin-bottom: 114px;
    color: #FFF;
          font-size: 40px;
          line-height: normal;
          letter-spacing: -1px;
          text-transform: uppercase;
          text-align: center;
  }
  .contact-us-form {
    display: flex;
   justify-content: center;
    align-items: center;
   gap: 28px;
   flex-wrap: wrap;
  }
  .contact-us-form-box {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
  }

  
  .contact-us-input {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.35px;
    text-transform: uppercase;
    display: flex;
    gap: 28px;
    padding: 11px 20px 20px;
    width: 455px;
  
  }  
  .contact-us-textarea {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.35px;
    text-transform: uppercase;
    padding-top: 14px;
    padding-left: 22px;
    resize: none;
    width: 458px;
    height: 212px;
  }
  .contact-us-input,
.contact-us-textarea {
  border: 2px solid transparent;
}
contact-us-input:hover,.contact-us-input:focus,
.contact-us-textarea:hover, .contact-us-textarea:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}
  .contact-us-input::placeholder, 
  .contact-us-textarea::placeholder {
    color: #BBB;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: -0.35px;
      text-transform: uppercase;
  }
  .contact-us-btn{
  
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 18px 33px 28px;
    background-color: var(--accent-color);
    border: none;
    border-radius: 10px;
  }
  .contact-us-btn:hover, 
  .contact-us-btn:focus {
    opacity: 0.7;
    cursor: pointer;
  }